* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    font-family: Montserrat;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.wrapper {
    background: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px 0px rgba(0,0,0,0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #434c5a;
}

.contacts-link-type {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}

.tech-skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.tech-skills-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ff6b08;
    margin-left: 15px;
}

.tech-skills-text {
    color: #d8dadd;
}

.soft-skills-container {
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.soft-skills-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.soft-skills-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ff6b08;
    margin-left: 15px;
}

.soft-skills-text {
    color: #d8dadd;
}

.profession {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 23px;
}

.name {
    font-size: 45px;
    line-height: 89px;
    font-weight: 700;
}

.description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 24px;
}

.info-container {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.projects-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
}

.tech-name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
}

.dots {
    color: #bebebe;
    font-weight: 100;
}

.projects-item {
    font-weight: 700;
    margin-left: 15px;
}

.projects-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
    color: #ff6c09;
}

.duration-time {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #a8a8a8;
}

.date-divider {
    color: #000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.profession-duties-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
}

.school-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #ff6b08;
    margin-top: 15px;
    margin-bottom: 5px;
}

.school-major {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* html {font-size: 100%;} */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .wrapper {display: block;}
    .sidebar {width: 100%;}
    .my-photo {max-width: 100%;}
    /* .profession {font-size: 1rem;}
    .name {font-size: 1rem;}
    .description {font-size: 1rem;}
    .projects-container {font-size: 1rem;}
    .work-experience-container {font-size: 1rem;}
    .education-container {font-size: 1rem;} */
    .about-me-container {
        padding-left: 50px;
        padding-right: 50px;
    }
} 